/* Sub-Event Detail Card */
.sub-event-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.card-text{
    white-space: pre-wrap;
    word-break: break-word;
}
/* Event Details */
.event-detail {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
}

/* Gallery Images */
.gallery-item img {
    width: 100%;
    height: auto;
    max-height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

/* Button Styling */
.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    font-weight: bold;
    padding: 10px 20px;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #5a6268;
}


.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}