{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static "css/events.css" %}">
{% endblock head %}
{% block body %}

    <h1>Events for {{ main_event.name }}</h1>
    <div class="row">
        {% for sub_event in main_event.sub_events.all %}
        <!-- Card 1 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card event-card">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">{{ sub_event.name }}</h5>
                    <p class="text-black">
                        Department: {{sub_event.dept }}<br>
                        Date: {{ sub_event.date }}<br>
                        Venue: {{ sub_event.venue }}
                    </p>
                    <p class="mt-3 mb-0 text-sm">
                        <a href="{% url 'sub_event_detail' sub_event.id%}" class="text-black font-weight-bold">View Details</a>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div>
        <a href="{% url 'main_event_list' %}" class="btn btn-outline-primary">Back to Main Events</a>
    </div>

    {% endblock body %}
